@import './../../styles/global.scss';

.expert {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 49px 188px;
  width: 100%;
  gap: 129px;
  &__info {
    max-width: 630px;
    margin: 0;
    color: $blackColor;
    @include mainFont;
    font-size: 16px;
    line-height: 136.187%; /* 21.79px */
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__contact {
    display: flex;
    align-items: center;
    gap: 8px;
    & svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
    }
    &-text {
      color: $blackColor;
      @include mainFont;
      font-size: 16px;
      line-height: 136.187%; /* 21.79px */
    }
  }
}
